BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveDeclarations: AcrossEmptyLines
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
ConstructorInitializerIndentWidth: 4
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: true
